.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/xcshareddata/

*.iml
.idea/
.vscode/
.DS_Store
